.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-top: 0.5cm;
}

#nav li {
  display: inline;
}

#nav a:link, #nav a:visited {
  color: white;
  background: grey;
  padding: 10px 40px 10px 40px;
  width: auto;
  border-right: 1px solid #42432d;
  text-decoration: none;
  font: bold 1em/1em Arial;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #555;
}

#nav a:hover {
  color: #fff;
  background: #727454;
}

/*#nav2
{
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
}*/
nav.left
{
  width:18%;
  /*height:100%;*/
  padding-right: .5rem;
  margin-right: .5rem;
  float: left;
  box-shadow: inset -5px 0 5px -5px #29627e;
  color: #29627e;
  margin-top:0.25cm;
  background-color:white;
  position:fixed;
}
aside
{
  width: 20%;
  /*height: 100%;*/
  padding-right: .5rem;
  margin-right: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  color: grey;
  margin-top:1cm;
  /*position:fixed;*/
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
}

body {
  font-family: Georgia, serif;
  font-size: 100%;
}

h1 {
  font-family: arial;
  font-weight: bold;
  text-align: center;
  color: white;
}

/*h1.building
{
  font-family : arial;
  font-weight:bold;
  text-align : center;
  color:grey;
}*/

h2 {
  color: #5ba3d3;
  text-align: center;
  font-family: arial;
  font-size: 18pt;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

h3 {
  color: #404548;
  text-align: center;
  font-family: arial;
  font-size: 16pt;
  margin-bottom: 1cm;
  margin-top: 1cm;
}

/*h4
{
  color : #404548;
  font-family : arial;
  font-size : 12pt;
  margin-bottom:1cm;
  margin-top:1cm;
}*/

p {
  color: #404548;
  text-align: left;
  font-family: arial;
  font-size: 12pt;
  margin-left: 0.5cm;
}

div.center {
  text-align: center;
}

div.right {
  text-align: right;
}

a.specialLink {
  color: white;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
}

a.specialListLink {
  font-family: arial;
  color: #3fa0a3;
  font-weight: bold;
}

img.leftOverview {
  margin-left: 0.5cm;
  width: 90%;
}

img.maximized {
  width: 100%;
}

area.smaller {
  width: 70%;
  height: 50%;
}

div.inline {
  box-sizing: border-box;
}

footer {
  margin-top: 0.5cm;
  background-color: grey;
}

p.footer {
  color: white;
  font-family: arial;
  font-size: 11pt;
  text-align: center;
}

img.footer {
  margin-top: 0.5cm;
  width: 300px;
}

a.returnLink {
  color: black;
  font-family: arial;
  font-weight: bold;
}

table {
  margin: 0 auto;
}

​ th, td {
  border: 1px solid black;
  text-align: center;
}

th {
  background-color: #3eb7b0;
}

/*#main
{
  width:100%;
  margin-top:0.5cm;
}*/

legend {
  font-size: large;
  font-weight: bold;
  color: black;
  font-family: arial;
}

select {
/*  width: 100%;*/
  height: 100%;
  margin: 0;
  padding-left: 15px;
  color: #555555;
  /*cursor: pointer;*/
  border-radius: 12px;
  font-family: arial;
}

fieldset {
  /*border: 1px dashed gray;*/
  /*padding: 10px;*/
  /*margin: 10px 0;*/
  /*border-radius: 15px;*/
  background-color: #e1e4e5;
  margin-bottom: 1cm;
}

label {
  font-family: arial;
  color: black;
}
