.container
{
  position : relative;
  text-align : center;
  color : white;
}
.centered
{
  position : absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
}
#nav
{
  margin : 0;
  padding : 0;
  list-style-type : none;
  text-align : center;
  margin-top : 0.5cm;
}
#nav li
{
  display : inline;
}
#nav a:link, #nav a:visited 
{
  color : white;
  background :grey;
  padding : 10px 40px 10px 40px;
  width : auto;
  border-right : 1px solid #42432d;
  text-decoration : none;
  font : bold 1em/1em Arial;
  text-transform : uppercase;
  text-shadow : 2px 2px 2px #555;
}
#nav a:hover 
{
  color : #fff;
  background : #727454;
}
/*#nav2
{
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
}*/
/*aside
{
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  color: #29627e;
  margin-top:1cm;
}*/
h1
{
  font-family : arial;
  font-weight:bold;
  text-align : center;
  color:white;
}
/*h1.building
{
  font-family : arial;
  font-weight:bold;
  text-align : center;
  color:grey;
}*/
h2
{
  color : #5ba3d3;
  text-align : center;
  font-family : arial;
  font-size : 18pt;
  margin-top : 1cm;
  margin-bottom : 1cm;
}
/*h3
{
  color : #404548;
  text-align : center;
  font-family : arial;
  font-size : 16pt;
  margin-bottom:1cm;
  margin-top:1cm;
}*/
/*h4
{
  color : #404548;
  font-family : arial;
  font-size : 12pt;
  margin-bottom:1cm;
  margin-top:1cm;
}*/
p
{
  color : #404548;
  text-align : center;
  font-family : arial;
  font-size : 14pt;
}
div.center
{
  text-align : center;
}
div.right
{
  text-align : right;
}
a.specialLink
{
  color : white;
  font-family : arial;
  font-weight : bold;
  text-decoration : none;
}
a.specialListLink
{
  font-family:arial;
  color:#3fa0a3;
  font-weight:bold;
}
img.smaller
{
  width : 20%;
}
div.inline
{
box-sizing : border-box;
}
footer
{
  margin-top : 0.5cm;
  background-color : grey;
}
p.footer
{
  color : white;
  font-family : arial;
  font-size : 11pt;
  text-align : center;
}
img.footer
{
  margin-top : 0.5cm;
  width : 300px;
}
a.returnLink
{
  color : black;
  font-family : arial;
  font-weight : bold;
}
/*#main
{
  width:100%;
  margin-top:0.5cm;
}*/